<%- model_class = Pelicula -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %></h1>
</div>
<%= render :partial => 'form' %>
<div class="uploader">
	<h2>Subido por: <%= current_uploader.email %> </h2>
	<h1>Que ha subido: <%= @cuantas %> </h1>
</div>

