<%- model_class = Pelicula -%>
<div class="page-header">
  <h1>PelisBox</h1>
</div>
<div class="container">
    <% @peliculas.each do |pelicula| %>
    <div class="span3">
      <ul id="pelicula">
        <li><h3><%= link_to "#{pelicula.titulo}", pelicula_path(pelicula) %></h3></li>
        <li id="categoria"><%= pelicula.categoria %></li>
        <li ><%= raw pelicula.image %></li>
      </ul>
    </div>
    <% end %>
</div>