<%- model_class = Pelicula -%>
<div class="page-header">
  <h1 id="pelisbox">PelisBox</h1>
</div>
<div class="container">
    <% @peliculas.each do |pelicula| %>
      <div id="top">
        <ul id="pelicula">
          <li><p><%= link_to "#{pelicula.titulo}", pelicula_path(pelicula) %></p></li>
          <li ><%= raw pelicula.imagen %></li>
        </ul>
      </div>
      <% end %>
</div>
