<%- model_class = Pelicula -%>
<div class="page-header">
  <h1 id="pelisbox">PelisBox</h1>
</div>
<div class="container">
    <% @peliculas.each do |pelicula| %>
      <div class="view view-first">
          <%= raw pelicula.imagen %>
          <div class="mask">
	          <h2><%= link_to "#{pelicula.titulo}", pelicula_path(pelicula) %></h2>	
	        </div>
      </div>
      <% end %>
</div>

