<%- model_class = Pelicula -%>
<div class="page-header">
  <h1><strong><%= @pelicula.titulo %></strong></h1>
</div>

<div class="payload">
  <ul class="items">
    <li><%= @pelicula.descripcion %></li>
    <li><%= raw @pelicula.iframe %></li>
    <%= link_to "Inicio", root_path %>
  </ul>
</div>


