<%- model_class = Pelicula -%>


<div class="row" id="show">
	<div class="span8" id="estreno_iframe">
		<div class="iframe"><%= raw @pelicula.iframe %></div>
	</div>
	<div class="span4" id="desc"style="text-align:center;">
		<h1><%= @pelicula.titulo %></h1>
		 <p style="color:black;"><%= @pelicula.descripcion %></p>
	</div>
</div>
<div class="row">
	<div class="span4">
	  
	</div>
</div>


