<%- model_class = Pelicula -%>


<div class="row" id="show">
	<div class="span8" id="estreno_iframe">
		<div class="iframe" style="text-align:center;"><%= raw @pelicula.iframe %></div>
	</div>
	<div class="span4" id="desc"style="text-align:center;">
		<h1><%= @pelicula.titulo %></h1>
		 <p style="color:black;"><%= @pelicula.descripcion %></p>
		</br>
		<h1 style="color: #19A206;">Trailer </h1>
		<iframe width="360" height="200" src="<%= raw @pelicula.trailer %>" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<div class="row">
	<div class="span4">
	  
	</div>
</div>

