// Place all the styles related to the estrenos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


textarea#estreno_descripcion {
	width: 800px;
	height: 200px;
}


textarea#estreno_iframe {
	width: 800px;
	height: 200px;
}


textarea#estreno_opcion1 {
	width: 800px;
	height: 200px;
}


textarea#estreno_opcion2 {
	width: 800px;
	height: 200px;
}