// Place all the styles related to the peliculas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
	background: #1B1B24;
	color: #7A7A8A;
	font-family: "proxima-nova", "helvetica neue", helvetica, arial, geneva, sans-serif;
}

img#imagenes 
	 { 
	max-width: 300px;
	max-height: 200px;
	width: auto\9; /* IE8 */
}

ul#pelicula {
	list-style-type:none;
	width: 170px;
	height: 313px;
	background: #464368;
	color: white;
	li h3 a { color:white; text-align:center;}
	li p {
		padding-top:15px; text-align:center;
		a { color:white; font-size:20px; padding-top:10px;}
	}

}


.items {
	list-style-type:none;
	border: 1px solid;
	width: 738px;
	background: #8B8B8B;
}

#pelisbox {
	font-family: 'Condiment', cursive;
	color:white;
	font-size: 70px;
	margin-left: 40px;
	margin-top: 80px;
}

#top {
	display:inline-table;
}

h1#show{
	color:white;
}

div.payload { padding-top: 80px; }


#imagen {
	text-align:center;
}