// Place all the styles related to the peliculas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
	background: #1B1B24;
	color: #7A7A8A;
	font-family: "proxima-nova", "helvetica neue", helvetica, arial, geneva, sans-serif;
}

img#imagenes 
	 { 
	max-width: 300px;
	max-height: 200px;
	width: auto\9; /* IE8 */
}

ul#pelicula {
	list-style-type:none;
	width: 210px;
	background: #464368;
	color: white;
	li h3 a { color:white; text-align:center;}
}


.items {
	list-style-type:none;
	border: 1px solid;
	width: 738px;
	background: #2479A2;
}

#pelisbox {
	font-family: 'Condiment', cursive;
	color:white;
	font-size: 50px;
	margin-left: 40px;
}