// Place all the styles related to the peliculas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
	background:black;
	color: #7A7A8A;
	font-family:'Open Sans', sans-serif;
}

img#imagenes 
	 { 
	max-width: 300px;
	max-height: 200px;
	width: auto\9; /* IE8 */
}

ul#pelicula {
	list-style-type:none;
	width: 170px;
	height: 342px;
	background: #464368;
	color: white;
	li h3 a { color:white; text-align:center;}
	li p {
		padding-top:15px; text-align:center;
		a { color:white; font-size:20px; padding-top:10px;}
	}

}


.items {
	list-style-type:none;
	border: 1px solid;
	width: 738px;
	background: #8B8B8B;
}

#pelisbox {
	font-family: 'Condiment', cursive;
	color:white;
	font-size: 70px;
	margin-left: 40px;
	margin-top: 80px;
}

#top {
	display:inline-table;
}

#principal { margin-top:50px;}

h1#show{
	color:white;
}

div.payload { padding-top: 160px; }


#imagen {
	text-align:center;
}

div#descripcion  {color:black; width:738px;}
div#descripcion h4 {margin-left: 15px; font-family: 'Anaheim', sans-serif;}


div#fb-like {
    position: absolute;
    top: 73px;
    left: 500px;
}

img.imagenes {
    height:250px;
}

.view {
    width: 166px;
    height: 250px;
    margin: 10px;
    float: left;
    border: 2px solid #464368;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #464368
}
.view .mask, .view .content {
    width: 170px;
    height: 250px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    color: white;
    text-align: center;
    position: relative;
    font-size: 22px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: black;
    padding: 10px 20px 20px;
    text-align: center
}
.view a {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    box-shadow: 0 0 1px #000;
    font-size: 20px;
}
.view a:hover {
    box-shadow: 0 0 5px #000
}


.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first:hover img { 
    transform: scale(1.1);
} 
.view-first:hover .mask { 
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a{
    transition-delay: 0.2s;
}






/* añadiendo estilo a la barra de navegacion */

 .fancyNav {    
    overflow: hidden;
    display:inline-block;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius:4px;

    box-shadow:0 0 4px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow:0 0 4px rgba(255, 255, 255, 0.6) ;
 }

 #barra {
    margin-top: 100px;
 }

 .fancyNav li {

    height: 50px;
    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));

    background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);

    background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);

    background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);

    background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);

 

    border-right: 1px solid rgba(9, 9, 9, 0.125);

 

    /* Adding a 1px inset highlight for a more polished efect: */

 

    box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;

    -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;

    -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;

 

    position:relative;

 

    float: left;

    list-style: none;

 }
 .fancyNav li a{

    color: #5d5d5d;

    display: inline-block;

    font: 20px/1 Lobster,Arial,sans-serif;

    padding: 15px 17px 14px;

    position: relative;

    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);


    z-index:2;


    text-decoration:none !important;

    white-space:nowrap;

}

.fancyNav li:after{

    /* This creates a pseudo element inslide each LI */ 
    
    content:'.';
    text-indent:-9999px;
    overflow:hidden;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    opacity:0;
    
    /* Gradients! */
    
    background-image:-webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
    background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    
    /* Creating borders with box-shadow. Useful, as they don't affect the size of the element. */
    
    box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    
    /* This will create a smooth transition for the opacity property */
    
    -moz-transition:0.25s all;
    -webkit-transition:0.25s all;
    -o-transition:0.25s all;
    transition:0.25s all;
}

/* Treating the first LI and li:after elements separately */

.fancyNav li:first-child{
    border-radius: 4px 0 0 4px;
}

.fancyNav li:first-child:after,
.fancyNav li.selected:first-child:after{
    box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    
    border-radius:4px 0 0 4px;
}

.fancyNav li:last-child{
    border-radius: 0 4px 4px 0;
}

/* Treating the last LI and li:after elements separately */

.fancyNav li:last-child:after,
.fancyNav li.selected:last-child:after{
    box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    
    border-radius:0 4px 4px 0;
}

.fancyNav li:hover:after,
.fancyNav li.selected:after,
.fancyNav li:target:after{
    /* This property triggers the CSS3 transition */
    opacity:1;
}

.fancyNav:hover li.selected:after,
.fancyNav:hover li:target:after{
    /* Hides the targeted li when we are hovering on the UL */
    opacity:0;
}

.fancyNav li.selected:hover:after,
.fancyNav li:target:hover:after{
    opacity:1 !important;
}



#ultimas {
    margin-left: 10px;
    color:white;
}

div#estreno_iframe.span8 {
    background: #F1F1F1;
    border-radius: 5px;
}


#descripcion_estreno {
    color:white;
    padding-top:20px;
}

h3#ultimas {
    background: #F1F1F1;
    color:black;
    width: 734px;
    padding-left:10px;
    border-radius: 8px;
}

h2#ultimas {
    background: #F1F1F1;
    color:black;
    padding-left: 10px;
    border-radius: 8px;
}

nav.pagination {
    text-align:center;
}